---
import Cite from 'citation-js' 
import references from '../assets/references.json'
const cite = new Cite(references)
let htmlRefs = cite.format('bibliography', {
  format: 'html',
  template: 'ieee',
  lang: 'en-US',
})

import Layout from '../layouts/Layout.astro'
---
<Layout>
  <div class="flex flex-col gap-12">
    <div class="h-[60vh] w-full flex flex-col justify-center bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500">
        <div class="text-white text-8xl font-semibold px-[15%]">Contributors</div>
    </div>
    <div class="flex flex-col gap-8 px-[15%]">
      <div class="flex flex-col gap-4">
        <div class="text-4xl font-semibold">Shasha Liu</div>
        <div class="text-2xl">Major: <strong>Computer Science</strong></div>
        <div class="text-2xl">Contributions: <strong>Project Propsal, Site Development</strong></div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="text-4xl font-semibold">Weiting Huang</div>
        <div class="text-2xl">Major: <strong>Computer Science</strong></div>
        <div class="text-2xl">Contributions: <strong>Project Proposal Video</strong></div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="text-4xl font-semibold">Rohan Ravikanti</div>
        <div class="text-2xl">Major: <strong>Aerospace Engineering</strong></div>
        <div class="text-2xl">Contributions: <strong>Gantt Chart</strong></div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="text-4xl font-semibold">Julia Tang</div>
        <div class="text-2xl">Major: <strong>Computer Science</strong></div>
        <div class="text-2xl">Contributions: <strong>Project Proposal Video</strong></div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="text-4xl font-semibold">Ryan Warner</div>
        <div class="text-2xl">Major: <strong>Aerospace Engineering</strong></div>
        <div class="text-2xl">Contributions: <strong>Site Development, Project Proposal</strong></div>
      </div>
    </div>
</Layout>
