---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// Reminder we can use <code> to display code snippets
---

<Layout>
  <Header />
    <div class="h-[66vh] flex flex-col justify-center">
      <div class="text-8xl w-1/2 font-semibold px-16her o bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500 text-transparent bg-clip-text">
        This picture does not exist.
      </div>
      <div></div>
    </div>
  <Footer />
</Layout>