---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';// Reminder we can use <code> to display code snippets
import fakeImage from '../assets/AI_generated_splash.jpg';
import realImage from '../assets/real_splash.jpg';
---

<Layout>
    <div class="w-full flex flex-col">
      <div class=" h-[66vh] flex flex-col gap-24 justify-center">
        <div class="text-8xl w-[100%] font-semibold flex flex-col justify-center px-16 bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500 text-transparent bg-clip-text">
          This picture does not exist.
        </div>
        <div class="text-6xl w-[100%] font-semibold flex flex-col justify-center px-16 bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500 text-black bg-clip-text">
          An exploration of AI generated imagery
        </div>
        <!--<div class="flex-1 w-full self-center flex justify-center items-center h-full">
          <Image src={fakeImage} alt="AI Generated Image" class="h-4/5 w-min object-contain rounded-2xl overflow-hidden" />
        </div>-->
      </div>
      <!--<img id="dynamicImage" src={realImage.src} alt="Real Image" class="h-24 w-72 object-cover rounded-2xl overflow-hidden" />-->
  </div>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js">
    import Typewriter from 'typewriter-effect/dist/core';
    new Typewriter('#typewriter', {
        strings: ['Hello', 'World'],
        autoStart: true,
      });
  </script>
  <script>
    let images = ['assets/AI_generated_splash.jpg', 'assets/real_splash.jpg']; // replace with your image paths
    let strings = ['This picture does not exist.', 'But this one does.'];
    let currentIndex = 0;
    import Typewriter from 'typewriter-effect/dist/core';

    let writer = new Typewriter('#typewriter', {
      loop: false,
      cursorClassName: 'bg-text-clip Typewriter__cursor text-transparent',
    });
    
    function changeImage() {
      let imgElement = document.getElementById('dynamicImage') as HTMLImageElement;
      imgElement.src = images[currentIndex];
      currentIndex = (currentIndex + 1) % images.length;
      
      function deleteAll() {
        writer.deleteAll().start().callFunction(() => {
          console.log("Hi but new");
          setTimeout(changeText, 1000);
        });
      }

      setTimeout(deleteAll, 5000);
    }
     function changeText() {
      console.log("Hi before");
      console.log(strings[currentIndex]);
      writer.typeString(strings[currentIndex]).start().callFunction(() => {
        console.log("Hi");
        changeImage();
      })
    }
  
    changeText();
    

    //setInterval(changeImage, 5000); // change image every 5 seconds
  </script>
</Layout>